<div class="full-page">
  <mat-card>
    <mat-card-header>
      <h5>Add a new book</h5>
    </mat-card-header>
    <mat-card-content>
      <form #bookForm="ngForm" (ngSubmit)="onSubmit()" novalidate>
        <mat-form-field>
          <mat-label>Title</mat-label>
          <input matInput [(ngModel)]="book.title" name="title" required #title="ngModel"/>
          <mat-error *ngIf="title.invalid && title.touched">Title is required</mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Author</mat-label>
          <input matInput [(ngModel)]="book.author" name="author" required #author="ngModel"/>
          <mat-error *ngIf="author.invalid && author.touched">Author is required</mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Publisher</mat-label>
          <input matInput [(ngModel)]="book.publisher" />
        </mat-form-field>

        <mat-form-field>
          <mat-label>ISBN</mat-label>
          <input matInput [(ngModel)]="book.isbn" />
        </mat-form-field>

        <mat-form-field>
          <mat-label>Year</mat-label>
          <input matInput [(ngModel)]="book.year" />
        </mat-form-field>

        <mat-form-field>
          <mat-label>Genre</mat-label>
          <mat-select>
            <mat-option *ngFor="let genre of genres" [value]="genre">
              {{ genre }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <button type="submit" mat-button [disabled]="bookForm.invalid">Submit</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
