<h2 mat-dialog-title>Book Reservation</h2>
<mat-dialog-content>
  <p>Who would it be reserved to?</p>
  <mat-form-field>
    <mat-label>Name of recipient</mat-label>
    <input matInput [(ngModel)]="book.recipient" name="recipient" required #recipient="ngModel"/>
    <mat-error *ngIf="recipient.invalid && recipient.touched">Recipient is required</mat-error>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onReserve(book)">Reserve</button>
  <button mat-button [mat-dialog-close]="" cdkFocusInitial>Close</button>
</mat-dialog-actions>
